<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.qiujuer.italker.push">

    <!-- 网络相关的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读取存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写存储权限，OSS需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        tools:targetApi="m">

        <!-- Android7 FileProvider 适配 -->
        <provider
            android:name=".AppFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 个推的Service服务,维持长链接接收消息，process 名字不可更改 -->
        <service
            android:name=".AppPushService"
            android:enabled="true"
            android:exported="true"
            android:label="AppPushService"
            android:permission="1000"
            android:process=":pushservice" />
        <!-- 个推的消息送达服务，用以接收AppPushService处理后的有效消息接收，类似于之前的广播 -->
        <service
            android:name=".AppMessageReceiverService"
            android:enabled="true"
            android:exported="true"
            android:label="AppMessageReceiverService"
            android:permission="1000" />

        <activity
            android:name=".LaunchActivity"
            android:label="@string/title_activity_launch"
            android:theme="@style/AppTheme.TransStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"

            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".activities.AccountActivity"

            android:theme="@style/AppTheme.Account" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/title_activity_user"

            android:theme="@style/AppTheme.Account" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_search"

            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.MessageActivity"
            android:label="@string/title_activity_message"

            android:theme="@style/AppTheme.Message"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.PersonalActivity"
            android:label="@string/title_activity_personal"

            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name=".activities.GroupCreateActivity"

            android:theme="@style/AppTheme.Group.Create" />
        <activity
            android:name=".activities.GroupMemberActivity"
            android:label="@string/title_member_list"

            android:theme="@style/AppTheme.TransStatusBar" />
    </application>

</manifest>